.mainPage {
  h1 {
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 1vh;
    padding: 1vh;
  }

  .latestPost {
    background-color: rgba($color: #caf3ec, $alpha: 0.6);
    width: 70vw;
    border: solid;
    border-color: blue;
    margin-bottom: 4vh;
    margin-left: 15vw;
    border-radius: 10px;
    .subject {
      text-align: center;
      font-size: 2.5em;
      margin-bottom: 1vh;
      padding: 1vh;
    }
    .image {
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        max-height: 50%;
      }
    }
    .text {
      margin-top: 1vh;
      margin-bottom: 1vh;
      padding: 1vh;
      text-align: center;
      font-size: 1.5em;
    }
  }
  .search {
    display: flex;
    justify-content: center;
    padding: 2vh;
    margin-bottom: 4vh;
  }
}
